.my-cart{
  margin:  50px;
}
.list-cart .select-product{
  margin: 0 20px;
}
.list-cart .select-all{
  margin: 0 50px 30px;
}
.list-cart img{
  margin: 0 20px;
}
.list-cart .price{
  margin: 0 20px;
}
.list-cart .right-action{
  position: absolute;
  right: 20px;
  top: 50%;
}
.list-cart .view-cart{
  margin: 0 100px;
}

.select-all .price{
  position: absolute;
  right: 20px;
  top: 50%;
}